body{
    background-color: rgb(226,241,241);
}
.item{
    text-align: center;
    color: wheat;
    background-color: rgb(151, 79, 219);
    margin: 20px;
    padding: 15px;
    border-radius: 10px;
 } 
 .item1{
    text-align: center;
    color: wheat;
    background-color: rgb(151, 79, 219);
    margin: 20px;
    padding: 15px;
    border-radius: 10px;
 } 
.size{
    width: 200px;
    height: 150px;
    border-radius: 10px;
    margin-bottom: 5px;
}
.item h4{
    height: 250px;
} 

.service-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
}

/* Make it responsive */
@media only screen and (max-width:688px) {
    .service-container{
        grid-template-columns: repeat(1, 1fr);
    }
    .item h4{
        height: 270px;
    } 
}
@media only screen and (min-width:689px) and (max-width: 991px){
    .service-container{
        grid-template-columns: repeat(2, 1fr);
     }
     .item h4{
        height: 275px;
    } 
     
}